/* body {
    padding: 30px;
  }
  h3 {
    margin: 40px 0 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
   */
   body {
    background-color: cyan;
}
h1 {
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px;
    color: white;
    background-color: blue;
    text-shadow: 1px 1px black;
}
.btn {
    border-radius: 25px;
    background-color: blue;
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bold;
}
.btn:hover {
    color: white;
    background-color: navy;
    text-shadow: 1px 1px blue;
}
input, textarea {
    border: 1px solid blue !important;
    border-radius: 25px !important;
}
label {
    font-weight: bold;
    text-shadow: 1px 1px silver;
    color: black;
}