$primary-color-one: #187c6d;
$primary-color-two: #96dcd2;
$secondary-color-one: #ff977e;
$secondary-color-two: #a03116;

@mixin widthHeight($width, $height) {
    width: $width;
    height: $height;
}

.logo {
    @include widthHeight(180px, 45px);
}

body{
    overflow-x: hidden;
}

.max-w {
    max-width: 1400px;
}