.outterMainDiv {
    background-color: #24234d;
}

.innerMainDiv {
    margin: 0 auto;
    width: 1000px;
    background-color: #24234d;
}

.getInTouch {
    background-color: #494d83;
    color: white;
    font-size: 55px;
    font-weight: 100;
    width: 350px;
}

.contact_info_div {
    background-color: #494d83;
    // max-height: 500px;
}

.contact_attributes {
    font-size: 20px;
}

.submit_color {
    background-color: #494d83;
}

