nav {
    background-color: blue !important;
}

.nav-wrapper {
    background-image: url("./banlabs.png");
    background-position: center;
    /* background-origin: content-box; */
    background-size: contain;
    background-repeat: no-repeat;
    color: blue !important;
}

